@import '../components/main-page/main-page.scss';
@import '/src/components/sign-in/sign-in.scss';
@import '/src/components/sign-up/sign-up.scss';
@import '/src/styles/colors.scss';
@import '/src/styles/mixins.scss';
@import '/src/components/progress/progress.scss';
@import '/src/components/task/task.scss';
@import '/src/components/header/header.scss';

body{
    background-color: rgba(135, 207, 235, 0.13)
}
.spinner,
.modal {
    @include flex(row, center, center);
    @include size(100vw, 100vh);
    position: fixed;
    background-color: #000000a9;
    z-index: 99999;
}

.spinner-border {
    @include size(10rem, 10rem);
}

.modal-container {
    @include size(50%, 200px);
    @include border(2px, solid, black, 10px);
    @include flex(column);
    background-color: white;

    p {
        text-align: center;
        font-size: 20px;
    }

    &__btns {
        @include flex();

        button {
            min-width: 80px;
            margin-right: 10px;
        }
    }
}
.hidden {
    display: none;
}